{% extends "base.html" %}

{% block content %}

<h2 class="category_title">Edit Category</h2>

<form method="post" action="{% url 'category_edit' category.id %}" class="category-form">
    {% csrf_token %}

    <input type="hidden" name="_method" value="patch">
    
    <div class="form-group">
        <label for="id_title" class="form-label">Title:</label><br>
        <input type="text" name="title" id="id_title" value="{{ category.title }}" class="form-control">
    </div>

    <input type="hidden" name="_method" value="patch">
    <div class="button-container">
        <button type="submit" class="like-button">Submit</button>
    </div>
</form>

{% include './script.html' %}

{% endblock %}