{% extends "base.html" %}

{% block content %}

<h2 class="category_title">New Category</h2>

<form method="post" action="{% url 'create_category' %}" class="category-form">
    {% csrf_token %}
    {% if category.errors %}
        <div id="error_explanation">
            <h2>{{ category.errors|length }} prohibited this category from being saved:</h2>
            <ul>
                {% for error in category.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="id_title" class="form-label">Title:</label><br>
        <input type="text" name="title" id="id_title" value="{{ category.title }}" class="form-control">
    </div>

    <div class="button-container">
        <button type="submit" class="like-button">Submit</button>
    </div>
</form>

{% include 'script.html' %}

{% end block %}