{% extends "base.html" %}

{% block content %}

<h2 class="category_title">New Category</h2>

<form method="post" class="category-form">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_title" class="form-label">Title:</label><br>
        <input type="text" name="title" id="id_title" value="{{ category.title }}" class="form-control">
    </div>

    <div class="button-container">
        <button type="submit" class="like-button">Submit</button>
    </div>
</form>

{% include 'categories/script.html' %}

{% endblock %}