{% extends "base.html" %}

{% block content %}

<div class="button-container" style="text-align: left;">
    <a href="{% url 'category_list' %}" class="like-button">Back</a>
</div>

<h1 class="category_title">{{ category.title }}</h1>

<div class="post-actions">
    <a href="{% url 'category_edit' category.id %}" class="links">Edit</a>
    <a href="{% url 'category_delete' category.id %}" onclick="return confirm('Are you sure?')" class="delete-button">Delete</a>
</div>

<div class="post-container">
    {% for post in category.posts.all %}
        <div class="post">
            <div class="post-title">
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
            </div>
            <div class="post-actions">
                <a href="{% url 'edit_post' post.id %}" class="links">Edit</a>
                <a href="{% url 'delete_post' post.id %}" onclick="return confirm('Are you sure?')" class="delete-button">Delete</a>
            </div>
        </div>
    {% empty %}
        <p>No posts found in this category.</p>
    {% endfor %}

{% endblock %}