{% extends "base.html" %}

{% block content %}

<div class="comment-form">
    <h2>Edit Post</h2>
    <form method="post" action="{% url 'post_edit' post.id %}" class="category-form">
        {% csrf_token %}
        <input type="hidden" name="_method" value="patch">

        <div class="form-group">
            <label for="id_title" class="form-label">Title:</label><br>
            <input type="text" name="title" id="id_title" value="{{ post.title }}" class="form-control">
        </div>

        <div class="form-group">
            <label for="id_description" class="form-label">Description:</label><br>
            <input type="text" name="description" id="id_description" value="{{ post.description }}" class="form-control">
        </div>
        <div class="button-container">
            <button type="submit" class="like-button">Submit</button>
        </div>
    </form>
</div>

{% include 'posts/script.html' %}

{% endblock %}