{% extends "base.html" %}

{% block content %}

<h2 class="category_title">New Post</h2>

<form method="post" class="category-form">
    {% csrf_token %}
    {% if post.errors.any %}
        <div id="error_explanation">
            <h2>{{ post.errors.count }} prohibited this post from being saved:</h2>
            <ul>
                {% for msg in post.errors.full_messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="id_title">Title:</label><br>
        {{ form.title }}
    </div>

    <div class="form-group">
        <label for="id_description">Description:</label><br>
        {{ form.description }}
    </div>

    {{ form.category_ids }}

    <div class="button-container">
        <button type="submit" class="like-button">Submit</button>
    </div>
</form>

{% include 'posts/script.html' %}

{% end block %}