{% extends "base.html" %}

{% block content %}

<div class="post">
    <h1>{{ post.title }}</h1>
    <p><strong>Posted by:</strong> {{ post.user.username }}</p>
    <p><strong>Description:</strong> {{ post.description }}</p>
    <p>Likes: {{ post.likes.count }}</p>

    {% if post.categories.exists %}
        <p><strong>Categories:</strong>
            {% for category in post.categories.all %}
                {{ category.title }}
            {% endfor %}
        </p>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="post-actions">
            <a href="{% url 'post_edit' post.id %}" class="links">Edit</a>
            <a href="{% url 'post_delete' post.id %}" class="delete-button" onclick="return confirm('Are you sure?')">Delete</a>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="comment-form">
            <h2>Add Comment:</h2>
            <form method="post" action="{% url 'add_comment' post.id %}">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_comment" class="form-label">Comment:</label><br>
                    <textarea name="text" class="form-control"></textarea>
                </div>

                <div class="button-container">
                    <button type="submit" class="like-button">Submit</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% if post.comments.count > 0 %}
        <div class="post-comment-box">
            <h2>Comments:</h2>
            {% for comment in post.comments.all %}
                {% if comment.commenter and comment.text %}
                    <div class="comment">
                        <p><strong>Commenter:</strong> {{ comment.commenter }}</p>
                        <p><strong>Comment:</strong> {{ comment.text }}</p>
                        {% if user.is_authenticated %}
                            <div class="comment-actions">
                                <a href="{% url 'delete_comment' post.id comment.id %}" class="delete-button" onclick="return confirm('Are you sure?')">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% include 'posts/script.html' %}

{% endblock %}